<div class="container">
	<div class="ui-g" style="padding: 100px;">
		<div class="ui-lg-4 ui-md-3">
		</div>
		<div class="ui-lg-4 ui-md-6 ui-sm-12">
			<p-panel>
				<p-header>
					<div class="ui-helper-clearfix">
						<span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px">Login</span>
					</div>
				</p-header>
				<div class="ui-g">
					<div class="ui-lg-12 ui-md-12 ui-fluid">
						<label for="username">Usuário</label>
						<input type="text" 
								pInputText 
								id="usuario" 
								name="usuario" 
								autocomplete="off"
								#usuario/>

						<label for="password">Usuário</label>
						<input type="password" 
								pPassword
								id="senha"
								name="senha"
								promptLabel="Entre com a sua senha"
								feedback=false
								#senha/>
					</div>
				</div>
				<p-footer>
					<button pButton 
							type="button" 
							label="Login" 
							class="ui-button-info" 
							(click)="login(usuario.value, senha.value); senha.value= ''; "></button>
					<button pButton type="button" icon="fa-plus" label="Registrar" class="ui-button-info"></button>
				</p-footer>
			</p-panel>	
		</div>
		<div class="ui-lg-4 ui-md-3">
		</div>
	</div>
</div>