<div class="container">
  <div class="ui-g">
    <div class="ui-g-12">
      <h1>Pessoas</h1>
    </div>

    <div class="ui-g-12 ui-fluid">
      <label>Nome</label>
      <input type="text"
              pInputText
              id="descricao"
              class="p-inputtext-sm">
    </div>

    <div class="ui-g-12">
      <label style="display: block;">Vencimento</label>
      <input type="text"
              pInputText
              class="p-inputtext-sm"
              style="width: 95px;">
      <label>Até</label>
      <input type="text"
              pInputText
              class="p-inputtext-sm"
              style="width: 95px;" >
    </div>

    <div class="ui-g-12">
      <button pButton
              type="submit"
              label="Pesquisar"
              class="p-button-sm"></button>
    </div>
  </div>

  <div class="ui-g-12">
    <p-dataTable [value]="pessoas"
                [paginator]=true
                [rows]="5"
                [responsive]=true>
      <p-column field="nome" header="Nome" ></p-column>
      <p-column field="cidade" header="Cidade"></p-column>
      <p-column field="estado" header="Estado"></p-column>
      <p-column field="status" header="Status"></p-column>
      <p-column styleClass="col-acoes">
        <ng-template pTemplate="body">
          <a pButton icon="fa-pencil" pTooltip="Editar" tooltipPosition="top"></a>
          <a pButton icon="fa-trash" pTooltip="Eliminar" tooltipPosition="top"></a>
        </ng-template>
      </p-column>
    </p-dataTable>
  </div>

  <div class="ui-g-12">
    <button pButton
            class="p-button-sm"
            type="submit"
            label="Nova Pessoa"></button>
  </div>






</div>
