<div class="container">
  <div class="ui-g">
    <div class="ui-g-12">
      <div class="alert alert-success" role="alert" *ngIf="salvo">
        Nome do Cliente : <strong> {{nome}} </strong>
      </div>
    </div>


    <div class="ui-g-12 ui-fluid">
      <label for="clienteNome">Nome do Cliente</label>
      <input type="text"
              pInputText
              id="nomeCliente"
              #nomeInput
              [(ngModel)]="nome"
              (focus)="salvo=false"
              placeholder="Informe o nome do cliente"
              [corFundo] = "'gray'"
              appCampoColorido
              #campo="campoColorido">
    </div>
    <div class="ui-g-12">
      <button   pButton
                type="submit"
                label="Salvar"
                (click)="salvar(nomeInput.value)"
                [disabled]="nomeInput.value.length == 0"></button>
      <!-- Novos botões -->
      <button pButton label="Colorir" (click)="campo.onNomeFocus()"></button>
      <button pButton label="Descolorir" (click)="campo.onNomeBlur()"></button>
    </div>
  </div>
</div>
